{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>今日必须完成</h1>

    <p>
        <ul class="weui-steps weui-steps_vertical">
            <li class="weui-steps__item">
                <div class="weui-steps__item__inner">
                    <strong class="weui-steps__item__title">标题</strong>
                    <span class="weui-steps__item__desc">描述内容详情</span>
                </div>
            </li>
            <li class="weui-steps__item">
                <div class="weui-steps__item__inner">
                    <strong class="weui-steps__item__title">标题</strong>
                    <span class="weui-steps__item__desc">描述内容详情</span>
                </div>
            </li>
        </ul>

    </p>

</div>


{% endblock %}
